/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #576366;
  background: white;
  background-size: cover;
  font-family: 'Roboto', sans-serif;

}
h1,
h2,
ul {
  margin: 0;
  padding: 10px;
  text-align: center;
}
a {
  margin-top: -2em;
  margin-bottom: 1em;
  background-color: white;

}
 
.navbar {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: white;
  color: black;
  font-family: Helvetica;
  /* font-weight: ; */
}

.navbar__title {
  margin-right: auto;
  font-size: 175%;
  /* font-weight: bold; */
  /* padding: 12px 16px; */
  font-style: italic;
}

.navbar__item {
  padding: 10px 10px;
  cursor: pointer;
  vertical-align: middle;
  font-weight: bold;
}

.container .jumbotron  {
  margin: 0px;
  background-image: url(../image/blackwhiteperson.jpg);  
  color: black;
  background-size: cover; 
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.home-img {
  background-image: url(../image/mypic.jpg); 
  margin-top: 5%; 
  margin-left: 45%;
  width: 15%;
  opacity: .5;
  border-radius: 6px;
  box-shadow: .5em .5em lightgrey;
}

.position-relative 
form-group {
  position: center;
}

.card-body h2 {
  text-align: center;
}

.text {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  column-count: 2;
  color: black;
}

.text p {
  color: black;
  font-style: italic;
  font-weight: bold;
  
}

.container #col
 p {
  margin: 0;
  text-align: center;
  
}

/* About page section ==================================================================== */

/* About white container  */

.container {
  /* margin-top: 2%; */
  max-width: 90%;
  max-height: 50%;
  margin-bottom: 10%;
  background: white;
  font-size: 22px;
  /* overflow: hidden; */
}

.container h1 {
  margin-top: .5em;
  margin-bottom: .2em;
  font-size: 40px;
  color: white;
  text-decoration: underline;
}

.container h2 {
  margin-top: 1em;
  font-size: 40px;
  color: black;
  text-decoration: underline;
  text-align: center;
  
}

.container #col {
  padding-top: 5em;
  padding-bottom: 20px;
  margin-left: 45px;
  color: black;
  text-align: center;
}

.container
.col-fellow{
  margin-top: -3em;
  position: center;
}

#col p {
  /* column-count:2; */
  width: 80%;
  max-width: 900px;
  margin-left: 8em;
  margin-right: 0;
  color: black;
  font-style: italic;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 5em;
  font-size: 14px;
  justify-content: space-between;
    
}
 
 .col-fellow {
  margin-top: 1em;
  margin-bottom: 5em;
  margin-left: 5em; 
  display: flex;
  justify-content: space-between;

}  

.col-fellow p {
  color: black;
  margin-top: 20%;
  margin-bottom: 2%;
}

.vol {
  display: flex;
}

h2 {
  color: #404040;
  font-size: 2em;
  margin-bottom: 1.25em;
  margin: auto;
}

.title h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.row {
  display: flex;
}

ul {
  list-style-type: none;
}
a {
  /* text-decoration: none; */
  color: black;
  padding: 10px;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
  margin-bottom: 10em;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */


.card{
  /* background: blue; */
  display: inline-block;
  border: 3px solid black;
  /* box-shadow: 0 30px 30px grey; */
  width: 200px;
  padding : 20px 20px;
  /* margin: 30px 30px; */
  /* color: white;
  margin-left: 50%; */

  position: absolute;
  margin-top: 10em;
  top: 0;
  right: 0;
  bottom: 20em;
  left: 0;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 3px;

}


.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

.main-content, h2 {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
}

.intro-port p {
  margin-left: 10px;
  color: black;
  text-align: center;

}

/* IMAGES -------- */



/* MAIN NAV -------- */


.main-nav a {
  margin-top: -1em;
  padding: 5px;
  font-size: 1em;
  color: white;
  background: white;
  text-align: center;
  text-transform: uppercase;
  /* border-radius: 7px; */
  /* border: 10px 10px 10px 10px;
  margin-right: auto;
  


.letters .main-nav {
  margin-top: -1em;
  justify-content: space-between;
}


.main-nav a:hover,
.main-nav .active {
  /* margin-right: auto; */
  color: black; 
  margin-bottom: 2em;
  /* background: white; */
}

.main-nav {
  margin-top: -2em;
  margin-bottom: 2em;
  padding: 15px;
  font-weight: bold;
  font-size: 1.25em;
  font-style: italic;
  color: black;
  background: white;
  text-align: center;
  text-transform: uppercase;
  /* border-radius: 7px; */
  /* border: 10px 10px 10px 10px; */
  margin-right: auto;
  margin-block-end: right;
  justify-content: space-between;
}

.Search {
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-family: sans-serif;
  text-align: center;
  color: "red";
}
/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.logo {
  background: black; 
  color: white;
  font-weight: bold;
  font-size: 10px;
  margin-left: 10%;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: .5em;
  margin-top: -.5em;
  text-emphasis-style: italic; 
  font-size: 4em;
}
.logo i {
  
  height: 10vh; 

}
.icn-error {
  font-size: 3.2em;
  /* margin-bottom: 1em; */
}

.box_shw2 {

  box-shadow:rgba(0, 0, 0, 0.12) 0 0 25px;
}



.f_12_14 {
  font-size: 12px;
  line-height: 14px !important;
}

.f_20_22 {
  font-size: 20px;
  line-height: 22px !important;
}

.bg_grey {
  background-color: #f1f1f1 !important;
}

.w_500 {
  width: 500px;
  max-width: 100%;
}

.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: lightgrey;
  text-align: center;

}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
   } 

   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em; 
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    margin-top: .5em;
    padding: 1em;
    border-radius: 50%;  
  }
  
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
} 

  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }


  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}