/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #576366;
  background: white;
  background-size: cover;
  font-family: 'Roboto', sans-serif;

}
h1,
h2,
ul {
  margin: 0;
  padding: 10px;
  text-align: center;
}
a {
  margin-top: -2em;
  margin-bottom: 1em;
  background-color: white;

}
 
.navbar {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: white;
  color: black;
  font-family: Helvetica;
  /* font-weight: ; */
}



.navbar__title {
  margin-right: auto;
  font-size: 175%;
  /* font-weight: bold; */
  /* padding: 12px 16px; */
  font-style: italic;
}

.navbar__item {
  padding: 10px 10px;
  cursor: pointer;
  vertical-align: middle;
  font-weight: bold;
}

.container .jumbotron  {
  margin: 0px;
  background-image: url(../image/blackwhiteperson.jpg);  
  color: black;
  background-size: cover; 
  font-weight: bold;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  min-height: 100%;

}

.home-img {
  background-image: url(../image/okayokay.jpg); 
  margin-top: 5%; 
  margin-left: 45%;
  width: 15%;
  border-radius: 6px;
  box-shadow: .5em .5em lightgrey;
  
}

.text {
  /* text-align: center; */
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  column-count: 2;
  color: black;
}

.text p {
  color: black;
  font-style: italic;
  font-weight: bold;
}


.container #col {
  color: black;
  font-weight: bold;
}

.container h1 {
  margin-top: 20px;
}

.container h2 {
  font-size: 1.3em;
  text-align: center;
  padding-top: 15px;
  color: black;
  
}

.container h1
.fellow{
  margin-bottom: 5em;
  position: center;
}


#col {
  column-count: 2;
  border-radius: .9em;
  width: 75%;
  max-width: 900px;
  margin: auto;
  font: .8em/1 Arial, Helvetica, sans-serif;
}

#col p {
  font-size-adjust: 20px;
  color: black;
  padding: 10px;
  margin-top: .5em;
  
}
 

.col-fellow {
  margin-top: 1em;
  column-count: 2;
  margin-bottom: 5em;
  margin-left: 25px;

  
}

.container .repeat  {
  background-color: white;
} 

h2 {
  color: #404040;
  font-size: 2em;
  margin-bottom: 1.25em;
  margin: auto;
}

.title h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.row {
  display: flex;
}


ul {
  list-style-type: none;
}
a {
  /* text-decoration: none; */
  color: black;
  padding: 10px;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
  margin-bottom: 10em;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  margin-top: 0;
  max-width: 100%;
  max-height: 80%;
  margin-bottom: 40px;
  background: white;
  /* overflow: hidden; */
}

.container h1 {
  margin-top:-1em;
  margin-bottom: -.5em;
  /* color: lightgrey; */
}  

/* .container {
  margin-top: 20px;
  border: 10px black;
  
} */
.card{
  background: lightgrey;
  display: inline-block;
  border: 3px solid grey;
  box-shadow: 0 30px 30px grey;
  width: 200px;
  padding : 20px 20px;
  margin: 30px 30px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

.main-content, h2 {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
}

.intro-port p {
  margin-left: 10px;
  color: black;
  text-align: center;

}

/* IMAGES -------- */



/* MAIN NAV -------- */



.main-nav a {
  margin-top: 20px;
  /* border-top: 20px; */
  padding-top: 20px;
  font-size: 1em;
  color: white;
  background: black;

  text-align: center;
  text-transform: uppercase;
  /* border-radius: 7px; */
  border: 20px 20px 20px 20px;
  margin-right: auto;
  
}

.main-nav a:hover,
.main-nav .active {
  /* margin-right: auto; */
  color: black; 
  background: white;
}

.main-nav li {
  margin-block-end: right;
}

.Search {
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-family: sans-serif;
  text-align: center;
  color: "red";
}
/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.logo {
  background: black; 
  color: white;
  font-weight: bold;
  font-size: 10px;
  margin-left: 35px;
  border-radius: .25em;
  padding: 5px;
  margin-bottom: .5em;
  margin-top: .1em;
  text-emphasis-style: italic; 
  font-size: 3em;
}
.logo i {
  
  height: 10vh; 
  /* margin-top: 20px;
  text-emphasis-style: italic; */

}
.icn-error {
  font-size: 3.2em;
  /* margin-bottom: 1em; */
}

.box_shw2 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 25px;
}

.f_12_14 {
  font-size: 12px;
  line-height: 14px !important;
}

.f_20_22 {
  font-size: 20px;
  line-height: 22px !important;
}

.bg_grey {
  background-color: #f1f1f1 !important;
}

.w_500 {
  width: 500px;
  max-width: 100%;
}

.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: lightgrey;
  text-align: center;

}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
   } 

   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em; 
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    margin-top: .5em;
    padding: 1em;
    border-radius: 50%;  
  }
  
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
} 

  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }


  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}