nav .nav-wrapper {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
  }
  
  section {
    padding: 48px 0;
  }
  
  section#footer {
    padding: 24px 4;
  }
  
  h1 {
    /* font-weight: 300; */
    color: black;
  }

  h2 {
    color: black;
  
  }
  .contact {
    font-family: sans-serif;
    text-align: center;
  }
  
  .title {
    font-family: sans-serif;
    text-align: center;
    color: black;
  }
  

  h3 {
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  
  p {
    font-size: 20px;
    color: blue;
  }


  .list-group-item {
    text-align: left;
    margin: 0 50px;
    border-color: black;
   
  }
  
  .stat p {
    text-transform: uppercase;
  }
  .stats {
    display: flex;
    flex-wrap: wrap;
  }
  .stat {
    border: 5px  solid black;
    border-left: 5px solid black;
    width: calc(100% * (1/2));
    padding: 32px;
    text-align: center;
    background: rgb(33, 13, 218);
  }
  .counter {
    font-size: 20px;
  }

  .row {
    margin-top: 0px;
  }
  
  img {
    margin-right:10px;
    width: 66px;
  }
  
  .wine-row {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 10px 0;
  }
  
  .wine-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .blogpost {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .blogpost .image-wrapper {
    flex: 4;
    margin: 0px auto;
  }
  
  .blogpost .content {
    flex: 4;
  }
  
  .blogpost .footer {
    display: flex;
    flex-direction: column;
  }
  
  .blogpost .footer .row {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .blogpost .footer .material-icons {
    max-width: 24px;
    margin: 0 8px;
  }
  .blogpost .footer-content {
    display: flex;
  }
  
  .blogpost .read-more {
    display: flex;
    justify-content: center;
  }
  
  
  #hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .container {
    height: 90vh;
  }
  
  #features .material-icons {
    font-size: 50px;
  }
  
  
  .flex-dir-col {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .jc-center {
    justify-content: center;
  }
  .jc-space-between {
    justify-content: space-between;
  }
  
  .m-r-16 {
    margin-right: 16px;
  }

  /* info collection */

  @import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    cursor: default;
    font-family: 'Roboto', sans-serif;
}

.commentBox {
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width: 500px;
    min-height: 150px;
    position: relative;
    margin: 15px auto;
    padding: 20px;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
}

.commentForm {
    margin-bottom: 55px;
}

.group {
    position: relative;
    margin-top: 25px;
}

.input {
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 485px;
    color: #ccc;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

label {
    color: #ccc;
    font-size: 15px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
.active {
    top: -10px;
    font-size: 12px;
    color: #E91E63;
}

.bar {
    position: relative;
    display: block;
    width: 500px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #E91E63;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

input[type='submit'] {
    border: 1px solid #E91E63;
    color: #E91E63;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 10px;
    background-color: transparent;
    outline: 0;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

input[type='submit']:hover {
    color: #fff;
    background-color: #E91E63;
}

.comment {
    padding: 15px;
    min-height: 48px;
    margin-bottom: 10px;
    background-color: #E91E63;
}

.comment:hover {
    color: rgba(0, 39, 59, .35);
    background-color: #C2185B;
}

.commentAuthor {
    color: #fff;
}

.commentBody {
    color: #fff;
}





  